---
const {
    name,
    description,
    date,
    affiche,
    titre,
    duree,
    collectionId,
    recordId,
} = Astro.props;

const baseUrl = "http://127.0.0.1:8090";

const afficheUrl = affiche
    ? `${baseUrl}/api/files/${collectionId}/${recordId}/${affiche}`
    : "/placeholder.jpg"; 

console.log("Affiche URL:", afficheUrl);
console.log("Collection ID:", collectionId, "Record ID:", recordId);

const collectionSlug = collectionId
    ? String(collectionId).toLowerCase()
    : "default";
---

<a
    href={`/${collectionSlug}/${recordId}`}
    class="block bg-white shadow-lg rounded-lg overflow-hidden"
>
    <div class="bg-white shadow-md rounded-lg p-4 border border-gray-200">
        <img
            src={afficheUrl}
            alt={titre || "Image indisponible"}
            class="w-full h-48 object-cover rounded-t-lg"
            loading="lazy"
        />
        <h2 class="text-lg font-bold text-gray-900 mt-4">{name}</h2>
        <p class="text-gray-700 mt-2">{description}</p>
        <p class="text-sm text-gray-500 mt-2"><strong>Date :</strong> {date}</p>
        <p class="text-sm text-gray-500 mt-2">{duree}</p>
    </div>
</a>
